@model Finally_project.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body class ="container">


    

        <h1> Please Register</h1>


        <form asp-action="Create" class="registartion-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table>
                <tr>
                    <div class="form-group">
                    <td><label asp-for="Name" class="control-label" style="color:white"></label></td>
                    <td>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </td>
                     </div>
            </tr>
    <tr>
        <div class="form-group">
        <td> <label asp-for="Email" class="control-label" style="color:white"></label></td>
        <td>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </td>
        </div>
    </tr>
    <tr>
        <div class="form-group">
        <td> <label asp-for="Password" class="control-label" style="color:white"></label></td>

                <td>  <input asp-for="Password" class="form-control passwordClass" id="passwordText" onchange="verifyPassword()" type="password"/>  <span asp-validation-for="Password" class="text-danger"></span></td>
                
        </div>
    </tr>
            <tr>
                <td colspan="2">
                    
                    </td>
                <td colspan="2"><div class="errors" id="errors"> </div></td>
                </td>
            </tr>
    <tr>
       <td colspan="2"> <div class="form-group">
            <input type="submit" value="Create" class="submitButton" id="submit" />
            </div>
                <td colspan="2"><a href="/users/" >Login</a></td>
        </td>
    </tr>
    <tr>
        
    </tr>
    </table>
    </form>


    <script>

         function verifyPassword()
         {
            var passwordElement = document.getElementById('passwordText');

            var pattern = /^(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[a-zA-Z!#$%&? "])[a-zA-Z0-9!#$%&?]{8,15}$/;
            var password = passwordElement.value ;
            console.log(password ,"this is the password")
            var button = document.getElementById('submit');
            var element = document.getElementById("errors");

            console.log(element)

            //element.classList.toggle("hideElement");

            if (password.match(pattern)) {
                element.innerText = 'Password is strong';
                button.classList.toggle("submitButton");
            }
            else {
                element.innerText = 'Password is weak';
            }
         
         }
    </script>
     

 
    <style>
        * {
            margin: 0
        }
        .submit
        
        {
            display:none;
        }
        errors{
        
        }

        hideElement {
            display: none;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100vh;
            background-color: #61d7be;
        }

            .container h1 {
                color: white;
                font-family: sans-serif;
                margin: 20px;
            }

        .registartion-form {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 600px;
            color: rgb(255, 255, 255);
            font-size: 18px;
            font-family: sans-serif;
            background-color: #288b6a;
            padding: 20px;
        }

            .registartion-form input,
            .registartion-form select,
            .registartion-form textarea {
                border: none;
                padding: 5px;
                margin-top: 10px;
                font-family: sans-serif;
            }

                .registartion-form input:focus,
                .registartion-form textarea:focus {
                    box-shadow: 3px 3px 10px rgb(228, 228, 228), -3px -3px 10px rgb(224, 224, 224);
                }

            .registartion-form .submit {
                width: 100%;
                padding: 8px 0;
                font-size: 20px;
                color: rgb(44, 44, 44);
                background-color: #ffffff;
                border-radius: 5px;
            }

                .registartion-form .submit:hover {
                    box-shadow: 3px 3px 6px rgb(255, 214, 176);
                }
    </style>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>
